<section class="bg-primary" data-aos="fade-up"
data-aos-duration="1500">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-five"></div>
      <h3 class="text-secondary text-base lg:text-3xl font-medium">
        <span> about</span>
        <span class="font-bold">me</span>
      </h3>
      <div class="h-1.5 bg-five"></div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-1 lg:w-7/12 text-secondary gap-6 pt-2 mt-2" >
      <p class="text-sm lg:text-lg leading-relaxed">
        <span class="italic block font-bold"
          >I like riding bikes and running in cold weather</span
        >
         I'm a guy who's about the simple joys of life. Originally from the charming city of Aarhus, but decided to plant my roots in Copenhagen.
      </p>
      <p class="text-sm lg:text-lg leading-relaxed">
        <span class="italic block font-bold"
          >When I'm not tinkering with code or diving into the world of design</span
        >
        
         My true passion lies in outdoor activities such as running, cycling, and hiking. There's a profound sense of mindfulness that I find in the great outdoors, whether I'm trekking through nature's wonders, cycling along scenic routes, or hitting the trails for a refreshing run.
      </p>
    
    </div>
  </div>
</section>
